.banner {
    background-image: url('/Images/plantbase.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.inner-content p,.inner-content li,.inner-content ul{
    font-size: 14px;
    line-height: 25px;
}
.inner-content p, .inner-content ul{
    margin: 10px auto;
}

.inner-content li {
    list-style: disc;
    margin-left: 20px;
}
.inner-content a{
    color: green;
    text-decoration: underline;
}
figcaption{
    font-size: 0.75rem;
    line-height: 1rem;
    font-style: italic;
}